.logo-checklist {
    display: block;
    position: relative;
    margin: 5% 10px;
}

#folder-about-play-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/folder-pink.png');
    background-size: contain;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -30px;
}

#folder-setting-play-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/folder-yellow.png');
    background-size: contain;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 17px;
}

.btn-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/btn.png');
    background-size: contain;
    width: 65px;
    height: 30px;
    margin-right: 24px;
}

.btn-checklist span {
    display: block;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 12px;
    text-align: center;
}

#topic-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/title-chapter.png');
    background-size: contain;
    width: 40px;
    height: 50px;
    display: block;
    margin-top: -50px;
    margin-left: 20px;
}

#topic-checklist span {
    display: block;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 26px;
}

#size-dialog-checklist {
    display: block;
    height: 450px;
    width: 100%;
    margin-top: 10px;
}

#size-dialog-checklist #bg-dialog-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/dialog-checklist.png');
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

#animate-next-chapter2 {
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom center;;
    height: 290px;
    position: relative;
}

#animate-checklist {
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: bottom center;;
    height: 290px;
    position: relative;
}

#question-checklist {
    display: block;
    text-align: center;
    font-size: 24px;
}
#question-checklist p {
    padding: 10px;
}

.section-answer-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-answer-checklist {
    background-repeat: no-repeat;
    background-image: url('./images/btn.png');
    background-size: contain;
    width: 100px;
    height: 44px;
}

.btn-answer-checklist span {
    display: block;
    letter-spacing: 1px;
    line-height: 44px;
    font-size: 24px;
    text-align: center;
    color: #000

}

.btn-answer-checklist:active {
    background-repeat: no-repeat;
    background-image: url('./images/btn-active.png');
    background-size: contain;
    width: 100px;
    height: 44px;
}

.btn-answer-checklist:active span {
    color: #fff
}