.dialog-home {
    background-image: url('./images/dialog-home.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center top;
    width: 100%;
    height: 265px;
    display: flex;
    align-items: flex-end;
    margin-top: -10px;
}

.ear-home-page {
    background-image: url('./images/ear-green.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.section-ear-home-page {
    background-image: url('./images/bg-ear-home-page.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 160px;
    height: 200px;
    display: flex;
    position: relative;
}

.mouth-home-page {
    background-image: url('./images/mouth-green.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    width: 90%;
    height: 90%;
    position: absolute;
}

.section-mouth-home-page {
    background-image: url('./images/bg-mouth-home-page.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center right;
    width: 160px;
    height: 140px;
    display: flex;
    position: relative;
}

.x-white-home-page {
    background-image: url('./images/x-white.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
}

.q-green-home-page {
    background-image: url('./images/question-green.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    width: 140px;
    height: 150px;
}

.q-white-home-page {
    background-image: url('./images/question-white.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    width: 80px;
    height: 110px;
}

.eye-home-page {
    background-image: url('./images/eyes-green.gif');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    width: 80%;
    height: 96%;
    position: absolute;
}

.section-eye-home-page {
    background-image: url('./images/bg-eye-home-page.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    width: 220px;
    height: 200px;
    position: relative;
}