.header-result {
    display: block;
    position: relative;
    margin: 5% 10px 0;
}

#bg-animate-result {
    background-image: url('./images/bg-animate-result1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 180px;
    height: 210px;
    position: absolute;
    left: 50px;
    top: 80px
}

#animate-result {
    background-image: url('./images/animate-result1.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 220px;
    height: 230px;
    position: absolute;
    left: 35px;
    top: 57px;
}

#bg-level-result {
    background-image: url('./images/bg-level-result.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center;
    width: 60%;
    height: 200px;
    display: block;
    text-align: center;
}

#bg-level-result span {
    font-size: 22px;
}

#number-result {
    background-image: url('./images/number1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 120px;
    height: 240px;
    position: absolute;
    right: 10px;
}

#bg-title-result {
    background-image: url('./images/title-result1.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    width: 100%;
    height: 55px;
    display: block;
    text-align: center;
    margin-top: 110px;
}

#bg-title-result span {
    line-height: 55px;
    font-size: 22px;
}