@import url("./fonts/gulfs/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url("./home.css");
@import url("./chapter1.css");
@import url("./result.css");
@import url("./wordpuzzle.css");
.logo-result div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.logo-result {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td button {
    background: none;
    border: 3px solid transparent;
    height: 100%;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    line-height: 0px;
    text-align: center;
    padding: 0px;
    width: 43px;
}

table, tr {
    overflow: hidden;
    height: 44px;
    white-space: nowrap;
}

table, td {
    overflow: hidden;
    width: 44px;
    white-space: nowrap;
}

.btn-age-go {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/btn-go.png');
    background-color: transparent;
    width: 135px;
    height: 62px;
    border: none;
}

.input-age {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('./images/bg-input-age.png');
    background-size: contain;
    height: 180px;
    width: 290px;
}

.wave-pink-right {
    background-image: url('./images/wave-pink-right.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 110px;
    width: 110px;
    position: absolute;
}

.wave-pink-left {
    background-image: url('./images/wave-pink-left.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 110px;
    width: 110px;
    position: absolute;
}

.question-yellow-right {
    background-image: url('./images/question-yellow-right.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70px;
    width: 70px;
    position: absolute;
}

.question-yellow-left {
    background-image: url('./images/question-yellow-left.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70px;
    width: 70px;
    position: absolute;
}

.size-screen {
    width: 440px;
    min-width: 375px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-image: url('./images/footer.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
}

.loading-text2 {
    background-image: url('./images/loading/loading-text2.gif');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.bg-yellow {
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #FFD93B;
    overflow: auto;
}

.bg-pink {
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #F89BD6;
    overflow: auto;
}

.bg-blue {
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #256EFF;
    overflow: auto;
}

.bg-page-blue {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url('./images/bg-blue.png');
}

.btn-start {
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/btn-start.png');
    border: none;
    width: 120px;
    height: 60px;
}

.btn-start span {
    font-size: 25px;
    letter-spacing: 3px;
    margin-right: 7px;
    margin-top: -7px;
    display: block;
}

.btn-circle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/btn-circle.png');
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-circle span {
    color: #000;
}

.btn-circle:active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/btn-circle-active.png');
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-circle:active span {
    color: #fff;
}

.btn-yellow, .btn-yellow:active {
    background-color: #FFD93B;
}

.bottom-bar {
    height: 100px;
    background-color: #256EFF;
}

.text-input--underbar {
    border-bottom: 2px solid !important;
    width: 91px !important;
    text-align: center !important;
}

.c-pink {
    color: #F89BD6;
    -webkit-text-fill-color: #F89BD6;
    -webkit-text-stroke-color: black;
}

.c-yellow {
    color: #FFD93B;
    -webkit-text-fill-color: #FFD93B;
}

.c-blue {
    color: #256EFF;
    -webkit-text-fill-color: #256EFF;
}

.c-green {
    color: #41FC80;
    -webkit-text-fill-color: #41FC80;
}

.c-black {
    color: #000000;
    -webkit-text-fill-color: #000000;
}

.c-white {
    color: #FFFFFF;
    -webkit-text-fill-color: #FFFFFF;
}

.text-stroke-05 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}

.text-stroke-1 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.text-stroke-2 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.text-stroke-3 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
}

.f-gulfs {
    font-family: 'Gulfs Display Normal', sans-serif;
}

.f-prompt {
    font-family: 'Prompt', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}