.bg-result-word {
    background-repeat: no-repeat;
    background-image: url('./images/result-word.png');
    background-size: contain;
    background-position: center;
    height: 55px;
    width: 100%;
}

.bg-result-word span {
    text-align: center;
    line-height: 55px;
    display: block;
    font-size: 35px;
    color: #000;
}

.boder-ntb-1, .boder-ntb-4 {
    border-left: 3px solid #256EFF;
    border-right: 3px solid #256EFF;
}

.boder-nt-1, .boder-nt-4 {
    border-right: 3px solid #256EFF;
    border-left: 3px solid #256EFF;
    border-bottom: 3px solid #256EFF;
}

.boder-nb-1, .boder-nb-4 {
    border-left: 3px solid #256EFF;
    border-right: 3px solid #256EFF;
    border-top: 3px solid #256EFF;
}

.boder-ntb-2, .boder-ntb-5 {
    border-left: 3px solid #FFD93B;
    border-right: 3px solid #FFD93B;
}

.boder-nt-2, .boder-nt-5 {
    border-right: 3px solid #FFD93B;
    border-left: 3px solid #FFD93B;
    border-bottom: 3px solid #FFD93B;
}

.boder-nb-2, .boder-nb-5 {
    border-left: 3px solid #FFD93B;
    border-right: 3px solid #FFD93B;
    border-top: 3px solid #FFD93B;
}

.boder-ntb-3, .boder-ntb-6 {
    border-left: 3px solid #41FC80;
    border-right: 3px solid #41FC80;
}

.boder-nt-3, .boder-nt-6 {
    border-right: 3px solid #41FC80;
    border-left: 3px solid #41FC80;
    border-bottom: 3px solid #41FC80;
}

.boder-nb-3, .boder-nb-6 {
    border-left: 3px solid #41FC80;
    border-right: 3px solid #41FC80;
    border-top: 3px solid #41FC80;
}

.boder-nlr-1, .boder-nlr-4 {
    border-top: 3px solid #256EFF;
    border-bottom: 3px solid #256EFF;
}

.boder-nr-1, .boder-nr-4 {
    border-top: 3px solid #256EFF;
    border-left: 3px solid #256EFF;
    border-bottom: 3px solid #256EFF;
}

.boder-nl-1, .boder-nl-4 {
    border-top: 3px solid #256EFF;
    border-right: 3px solid #256EFF;
    border-bottom: 3px solid #256EFF;
}

.boder-nlr-2, .boder-nlr-5 {
    border-top: 3px solid #FFD93B;
    border-bottom: 3px solid #FFD93B;
}

.boder-nr-2, .boder-nr-5 {
    border-top: 3px solid #FFD93B;
    border-left: 3px solid #FFD93B;
    border-bottom: 3px solid #FFD93B;
}

.boder-nl-2, .boder-nl-5 {
    border-top: 3px solid #FFD93B;
    border-right: 3px solid #FFD93B;
    border-bottom: 3px solid #FFD93B;
}

.boder-nlr-3, .boder-nlr-6 {
    border-top: 3px solid #41FC80;
    border-bottom: 3px solid #41FC80;
}

.boder-nr-3, .boder-nr-6 {
    border-top: 3px solid #41FC80;
    border-left: 3px solid #41FC80;
    border-bottom: 3px solid #41FC80;
}

.boder-nl-3, .boder-nl-6 {
    border-top: 3px solid #41FC80;
    border-right: 3px solid #41FC80;
    border-bottom: 3px solid #41FC80;
}